.wrapper {
  
}

.header-profile {
  border-bottom: 1px solid #e1e3e6;
  margin-bottom: 2rem;
}

.container {
  display: flex;
}

.profile {
  flex: 1;
  padding-right: 2rem;

  .profile-table {
    width: 100%;
  }

  td {
    padding-bottom: 1.5rem;

    input {
      padding: 0.5rem;
      width: 80%;
    }
  }

  .change-email, .change-password {
    display: flex;
    flex-direction: row;
    text-decoration: un;
  }
}

.avatar {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #e1e3e6;

  .image {
    width: 33.33%;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-bottom: 2rem;
  }

  .custom-input-image {
    padding: 0.5rem;
    border: 1px solid #000;
    margin-bottom: 1rem;
  }

  .custom-input-image:hover {
    cursor: pointer;
    background-color: #e1e3e6;
  }

  .input-image {
    position: relative;
  }

  input[type="file"] {
    display: none;
  }
}