#root {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #fff;

  --color-border: #3498db;
  --color-primary: #1677ff;
  --color-white: #fff;
  --color-border-green: #07bc0c;
  --background-grey: #F9F9F9;
  --background-hover: #f1f1f1;
  --color-text: #4f4f4f;
  --color-text-second: #9D9D9D;
  --color-star: #FFC43F;
  --color-border-grey: #ddd;
}

